/* =========sideBar container ======== */
.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--cardsColor);
    border: 1px  solid var(--borderColor);
    height:calc(100vh - 2px) ;
    width: 290px;
    overflow-y: scroll;
    
}
.container::-webkit-scrollbar {
    width: 0px;
  }
  
.title{
    color: var(--titleColor);
    height: 10%;
    width: 85%;
    margin: 30px auto;
}

/* ============ board names container ========= */
.boardNamesContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    height: auto;
    width: 90%;
    color: var(--subtitleColor);
}
.boardNamesContainer h4{
    color: var(--subtitleColor);
    width: 90%;
    height: 45px;
    margin: 0px  0px 0px 12%;
    
}
.boardName{
    text-decoration: none;
    background: none;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--subtitleColor);
    height: 50px;
    margin: 0px 0px 12px 0px    ;
    cursor: pointer;
}
.boardName i{
    margin: 0px  5% 0px 10%;
    font-size: 24px;
}
.activeBoardName {
    
    text-decoration: none;
    align-items: center;
    background: var(--primaryColor);
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--buttonTitle);
    height: 50px;
    margin: 0px 0px 12px 0px    ;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}
.activeBoardName i {
    margin: 0px  5% 0px 10%;
    font-size: 24px;
}
.boardName:hover{
    animation: boardNameAnimation 0.3s forwards;
}
@keyframes boardNameAnimation {
    from{
        border-radius: 0px;
        background: none;
        color: var(--subtitleColor);
    }
    to{
        border-radius: 0px 30px 30px 0px;
        background:  var(--sidebarBtnHover);
        color: var(--sidebarBtnColor);
    }
}

/* ========= create new board button =========== */
.btnCreate{
    display: flex;
    justify-content: start;
    align-items: center;
    background: none;
    border: none;
    color: var(--sidebarBtnColor);
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 12px;

}
.btnCreate:hover{
    animation: boardNameAnimation 0.3s forwards;
}
.btnCreate i{
    margin: 0px  5% 0px 8%;
    font-weight: 300;
    font-size: 24px;
}
/* ======= switch mode container + button switch ====== */
.switchMode{
    display: flex;
    align-items: center;
    height: 8%;
    width: 100%;
    
}
.switchModeButton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    background-color: var(--bgColor);
}
.switchModeButton i{
    font-size: 24px;
    color: var(--subtitleColor);
}
/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 42px;
height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
border-radius: 34px;
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--sidebarBtnColor);
-webkit-transition: .4s;
transition: .4s;
}
.slider:hover{
    background-color: var(--primaryHover);
}
.slider:before {
border-radius: 50%;
position: absolute;
content: "";
height: 14px;
width: 14px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: var(--sidebarBtnColor);
}

input:focus + .slider {
box-shadow: 0 0 1px var(--sidebarBtnColor);
}
input:checked + .slider:hover {
    background-color: var(--primaryHover);
}
    
input:focus + .slider:hover {
box-shadow: 0 0 1px var(--primaryHover);
}

input:checked + .slider:before {
-webkit-transform: translateX(22px);
-ms-transform: translateX(22px);
transform: translateX(22px);
}

/* ====== hide sidebar button ========= */
.hideSideBar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0px 50px 50px 0px;
}
.hideSideBarButton{
    background: none;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 50px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0px 50px 50px 0px;
    color: var(--subtitleColor);
    font-weight: bold;
    cursor: pointer;
    
}
.hideSideBarButton i{
    margin: 0px  4% 0px 12%;
    font-weight: 300;
    font-size: 22px;
}
.hideSideBarButton:hover{
    animation: colorhover 0.4s forwards ;
    animation-fill-mode: both;
    
}
@keyframes colorhover {
    from{ background:none; color: var(--subtitleColor); }
    to{ background:var(--sidebarBtnHover); color: var(--sidebarBtnColor);}
    
}
/* ====== visibilty button ====== */
.visibilityButton{
    position: absolute;
    border: none;
    border-radius: 0px 50% 50% 0px;
    bottom: 10vh;
    color: var(--buttonTitle);
    background-color: var(--sidebarBtnColor);
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.visibilityButton:hover{
    background-color: var(--primaryHover);
}
.visibilityButton i{
    font-size: 20px;
}

@media (max-width:375px){
    .container{
        display: none;
    }
    .visibilityButton{
        display: none;
    }
}

@media (min-width:375px) and (max-width:768px ){
    .container{
        display: none;
    }
    .visibilityButton{
        display: none;
    }

}

@media(min-width:769px ) and (max-width:991px){

}
@media (min-width:992px) and (max-width:1200px){
    
}
@media (min-width:1200px) and (max-width:1439px){
    
}
@media (min-width:1440px){

}